body {
   background-color: lightblue;
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    font-family:sans-serif;
}
.fon{
    text-align: center;
    color: red;
}

p{
    color: black;
}

table{
    color: white;
    background-color: red;
    background: blue;
    margin: 0 auto;
    margin-bottom: 10px;

}

img{
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

p{
    text-align: center;
}
